pipeline/3 set variable activity HW.json
{
	"name": "3 set variable activity HW",
	"properties": {
		"activities": [
			{
				"name": "Set a",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": 5
				}
			},
			{
				"name": "Set b",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "b",
					"value": 2
				}
			},
			{
				"name": "Set result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set a",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set b",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "result",
					"value": {
						"value": "@mul(add(variables('a'),variables('b')),add(variables('a'),variables('b') ))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "Integer"
			},
			"b": {
				"type": "Integer"
			},
			"result": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-30T14:50:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}