pipeline/4 Increamental Load.json
{
	"name": "4 Increamental Load",
	"properties": {
		"activities": [
			{
				"name": "Fetch Inc Load Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from [jul24eproj].[Tablelist]\nwhere Loadtype = 'inc' and Status = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable47",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Inc Load Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Inc Load Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Fetch Watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select WatermarkDate from jul24eproj.Watermarktable\nwhere Tablename=''',item().sourceTableName,'''')\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable48",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Maximum Modified date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) Max_ModifiedDatetime\nfrom ',item().sourceSchema,'.',item().sourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable49",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Fetch Increamental Records",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Fetch Watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Maximum Modified date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().sourceSchema,'.',item().sourceTableName, ' where ModifiedDate > ''',activity('Fetch Watermark').output.value[0].WatermarkDate, ''' and ModifiedDate <= ''', activity('Maximum Modified date').output.value[0].Max_ModifiedDatetime, '''')\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable51",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText21",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ModifiedDate Updated",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Fetch Increamental Records",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_efn jul24e dev sqlserver",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update jul24eproj.WatermarkTable set WatermarkDate =''',activity('Maximum Modified date').output.value[0].Max_ModifiedDatetime, ''' where Tablename= ''',item().sourceTableName,'''')\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "EFN Project"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-15T00:28:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}