pipeline/8 1 Parameterized Pipeline area calculation.json
{
	"name": "8 1 Parameterized Pipeline area calculation",
	"properties": {
		"activities": [
			{
				"name": "Set length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": {
						"value": "@pipeline().parameters.Param_Length",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": {
						"value": "@pipeline().parameters.Param_Breadht",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set calculation of area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@mul(variables('Length'),variables('Breadth'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Param_Length": {
				"type": "int"
			},
			"Param_Breadht": {
				"type": "int"
			}
		},
		"variables": {
			"Length": {
				"type": "Integer"
			},
			"Breadth": {
				"type": "Integer"
			},
			"area": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-06T22:52:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}